.header,
.graphMain {
    background-color: var(--card);
    color: var(--text-card);
    border: 1px solid var(--borda);
    padding: 2rem;
    box-shadow: 0 4px 8px var(--sombra);
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

}

.graphMain {
    flex-direction: column;
    border: none;
}

.graph {
    max-width: 400px;
    width: 100%;
}


.gridGraph {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: var(--card);
    gap: 20px;
}

.graphCard {
    color: var(--text-card);
    border: 1px solid var(--borda);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px var(--sombra);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pizzaGraph{
    max-width: 300px;
    width: 100%;
}