@import "../../../css/variables.css";

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.table {
    max-width: 1800px;
    width: 100%;
    margin: auto;
}

.th {
    background-color: var(--card);
    color: var(--text-card);
    border: 1px solid var(--borda);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 4px 8px var(--sombra);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tr {
    color: var(--text-card);
    border: 2px solid var(--borda);
    border-radius: 8px;
    padding: 0.3rem;
    transition: 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    font-size: 20px;
}

.tr:hover {
    box-shadow: 0 0px 28px var(--sombra);
}

.tbody {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--card);
    padding: 1rem;
    margin-top: 2rem;
    border: 0.1px solid var(--borda);
    border-radius: 20px;
}
.removeAll{
    padding: 1rem;
    text-align: right;
}
